In [7]:
# Import libraries
import pandas as pd
import duckdb

# Import `test_data` from `.csv` to a dataframe
test_data = pd.read_csv("data\\test_data.csv")

# Import `geology` from `.csv` to a dataframe
geology = pd.read_csv("data\\geology.csv")



# Write and execute the query
query = """SELECT *
        from test_data
        left join geology
        on test_data.BoreholeID = geology.BoreholeID
        and test_data.Depth >= geology.DepthTop
        and test_data.Depth < geology.DepthBase;"""

df = duckdb.sql(query).df()

# A column named `BoreholeID_2` is created as a copy
# of the original, remove this
df = df.drop(columns="BoreholeID_2")

     Depth BoreholeID  BulkDensity GeologyID  DepthTop  DepthBase
0    18.29     BH-034         2.73   TTC-G3N      7.16      20.88
1    27.43     BH-035         2.27    TTC-G6     23.93      35.20
2    30.48     BH-222         2.35   TTC-G3N     23.90      33.00
3    21.34     BH-217         2.30   TTC-G3N      8.70      31.55
4    36.58     BH-213         2.36   TTC-G3N     33.10      42.20
..     ...        ...          ...       ...       ...        ...
791  12.19     BH-139         2.30   TTC-G3N      5.64      14.78
792  27.43     BH-234         2.16    TTC-G5     25.91      31.55
793   6.10     BH-028         2.32   TTC-G3N      4.57       7.62
794  60.96     BH-222         2.32   TTC-G3C     52.90      66.14
795   3.05     BH-042         2.35   TTC-G3N      1.98       4.50

[796 rows x 6 columns]